<robot name="dagny">
   <link name="base_link">
      <visual>
         <origin xyz="0.41 0.152 0.06" rpy="1.57 0 -1.57"/>
         <geometry>
            <mesh filename="package://dagny_model/body.stl" scale="1 1 1" />
         </geometry>
         <material name="clear">
            <color rgba="1 1 1 0.2"/>
         </material>
      </visual>
   </link>

   <link name="laser"/>

   <joint name="laser_joint" type="fixed">
      <parent link="base_link"/>
      <child link="laser"/>
      <origin xyz="0.26 0 0.1" rpy="0 0 0" />
   </joint>

   <!-- wheels; just for looks -->
   <link name="fl_wheel">
      <visual>
         <geometry>
            <cylinder length="0.045" radius="0.055"/>
         </geometry>
         <material name="black">
            <color rgba="0 0 0 1"/>
         </material>
      </visual>
   </link>

   <joint name="fl_wheel_joint" type="fixed">
      <parent link="base_link"/>
      <child link="fl_wheel"/>
      <origin xyz="0.335 0.12 0.055" rpy="1.57 0 0"/>
   </joint>

   <link name="fr_wheel">
      <visual>
         <geometry>
            <cylinder length="0.045" radius="0.055"/>
         </geometry>
         <material name="black"/>
      </visual>
   </link>

   <joint name="fr_wheel_joint" type="fixed">
      <parent link="base_link"/>
      <child link="fr_wheel"/>
      <origin xyz="0.335 -0.12 0.055" rpy="1.57 0 0"/>
   </joint>

   <link name="rl_wheel">
      <visual>
         <geometry>
            <cylinder length="0.045" radius="0.055"/>
         </geometry>
         <material name="black"/>
      </visual>
   </link>

   <joint name="rl_wheel_joint" type="fixed">
      <parent link="base_link"/>
      <child link="rl_wheel"/>
      <origin xyz="0 0.12 0.055" rpy="1.57 0 0"/>
   </joint>

   <link name="rr_wheel">
      <visual>
         <geometry>
            <cylinder length="0.045" radius="0.055"/>
         </geometry>
         <material name="black"/>
      </visual>
   </link>

   <joint name="rr_wheel_joint" type="fixed">
      <parent link="base_link"/>
      <child link="rr_wheel"/>
      <origin xyz="0 -0.12 0.055" rpy="1.57 0 0"/>
   </joint>

   <!-- front right -->
   <link name="sonar_1"/>

   <joint name="sonar_1_joint" type="fixed">
      <parent link="base_link"/>
      <child link="sonar_1"/>
      <origin xyz="0.38 -0.06 0.10" rpy="0 0 -0.7854"/>
   </joint>

   <!-- front center -->
   <link name="sonar_2"/>

   <joint name="sonar_2_joint" type="fixed">
      <parent link="base_link"/>
      <child link="sonar_2"/>
      <origin xyz="0.40 0 0.10" rpy="0 0 0"/>
   </joint>

   <!-- front left -->
   <link name="sonar_3"/>

   <joint name="sonar_3_joint" type="fixed">
      <parent link="base_link"/>
      <child link="sonar_3"/>
      <origin xyz="0.38 0.06 0.10" rpy="0 0 0.7854"/>
   </joint>

   <!-- rear left -->
   <link name="sonar_4"/>

   <joint name="sonar_4_joint" type="fixed">
      <parent link="base_link"/>
      <child link="sonar_4"/>
      <origin xyz="-0.12 0.05 0.10" rpy="0 0 2.74"/>
   </joint>

   <!-- rear right -->
   <link name="sonar_5"/>

   <joint name="sonar_5_joint" type="fixed">
      <parent link="base_link"/>
      <child link="sonar_5"/>
      <origin xyz="-0.12 -0.05 0.10" rpy="0 0 -2.74"/>
   </joint>
</robot>
